.ecommerce__item {
    display: flex;
    flex-direction: column;
    align-items: center; 

    padding: 1rem ;
    margin: 1rem ;
    
    border: solid 2px ;
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);


    background-color: rgb(212, 212, 212);
}


.ecommerce__item img {
    width: 100px;
    mix-blend-mode: multiply;
}